/* GENERAL */
* { box-sizing: border-box; }

:root {
    --just-white: #FFFFFF;  /* h1 h2 */ 
    --purple-dark-1: #dbd2e4;   /* Btn */
    --purple-medium-1: #a3aabb; /* Text no writen search*/
    --purple-medium-2: #0E121B; /* Text writen search*/
    --purple-light-1: #1A2133; /* Detalis info */
    --purple-light-2: #f2efed; /* Search box */
    --purple-medium-3: #151B29; /* Super back */

    --new-background: #1A2133; /* principal bg */
    --text-bg: #1A2133;

    --color-1: #E57373;
    --color-2: #ffd94f;
    --color-3: #fdb63b;
    --color-4: #ebeb17;
    --color-5: #9ba350;
    --color-6: #3ab9ad;
    --color-7: #54cb5a;
    --color-8: #70d2ff;
    --color-9: #298cdc;
    --color-10: #9E9E9E;
    --color-11: #a74ea4;
    --color-12: #a986e5;
    --color-13: #F06292;
    --color-14: #fdbac1;
    --color-15: #f77953;
    --color-16: #986c5c;
    --color-17: #90A4AE;
    --color-18: #BDBDBD;
    --color-19: #7986CB;
  
    --font-family-titles: 'Dosis', sans-serif;
    --font-family-text: 'Red Hat Display', sans-serif;
    --font-weight-title1: 800;
    --font-weight-title2: 700;
    --font-weight-text1: 400;
    --font-weight-text2: 500;
}

html {
    background-color: var(--purple-medium-3);
}

body {
    background-color: var(--new-background);
    color: var(--just-white);
    font-family: var(--font-family-text);
    font-weight: var(--font-weight-text1);
    font-size: 16px;
    margin: 4px 0 0 0;
    padding: 0;
}

h1, h2, h3 {
    margin: 0;
    padding: 0;
}

h1, h2 {
    font-size: 24px;
    color: var(--just-white);
    font-family: var(--font-family-titles);
    font-weight: var(--font-weight-title1);
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 18px;
    color: var(--just-white);
    font-weight: var(--font-weight-title2);
}

h3 {
    color: var(--just-white);
    font-weight: var(--font-weight-text2);
    font-size: 16px;
}

input {
    background-color: var(--purple-light-2);
    color: var(--purple-medium-2);
    border: none;
    font-size: 18px;
    padding-left: 16px;
}

input::placeholder {
    color: var(--purple-medium-1);
    font-family: var(--font-family-text);
}

button {
    background-color: var(--purple-dark-1);
    border: none;
    color: var(--purple-light-2);
    font-weight: var(--font-weight-text2);
    font-size: 14px;
    cursor: pointer;
}
  
  
/* SHARED */
.header-container, .trendingPreview-header, .categoriesPreview-container, .liked-header {
    padding: 0 24px;
}

.trendingPreview-container, .categoriesPreview-container, .liked-container, footer {
    margin-top: 48px;
}

.trendingPreview-header, .categoriesPreview-title, .liked-header {
    margin-bottom: 24px;
}

.movie-container {
    cursor: pointer;
    position: relative;
}
.movie-container--loading {
    background: var(--purple-light-2);
    border-radius: 8px;
    height: 225px;
    min-height: 225px;
    max-height: 225px;
    width: 150px;
    min-width: 150px;
    max-width: 150px;
    margin-bottom: 15px;
    animation: loading-skeleton infinite 1.5s;
}
.movie-container--loading:nth-child(2) {
    animation-delay: .2s;
}
.movie-container--loading:nth-child(3) {
    animation-delay: .4s;
}

.movie-img {
    border-radius: 8px;
    min-height: 175px;
}
  
.movie-btn {
    position: absolute;
    top: 5px;
    right: 10px;
    height: 28px;
    width: 28px;
    border-radius: 30px;
    padding: 0 0 0.2px 0;
    margin: 0;
    opacity: 0.6 ;
  }

.movie-btn::before {
    content: '🖤';
}
.movie-btn--liked {
    background-color: var(--purple-light-2);
    box-shadow: 0px 0px 5px 2px var(--just-white);
    opacity: 0.9 ;
}
.movie-btn--liked::before {
    content: '❤️';
}

.categoriesPreview-list, .categories-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    flex-wrap: wrap;
}

.category-container--loading {
    background: var(--purple-light-2);
    border-radius: 8px;
    height: 25px;
    min-height: 25px;
    max-height: 25px;
    width: 150px;
    min-width: 150px;
    max-width: 150px;
    margin-bottom: 15px;
    animation: loading-skeleton infinite 1.5s;
}

.category-container--loading:nth-child(2) {
    animation-delay: .2s;
}

/* Header */
.header-container {
    padding-top: 40px;
}

.header-container--long {
    background-image: url('https://pics.filmaffinity.com/Deadpool-777527803-large.jpg');
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.35) 19.27%, rgba(255, 255, 255, 0) 29.17%), url(https://pics.filmaffinity.com/Deadpool-777527803-large.jpg);
    background-size: cover !important;
    height: 480px;
    position: fixed;
    top: 0;
    width: 100%;
}

.header-container--categoryView {
    background: linear-gradient(180deg, rgba(238, 204, 117, 0.5) 0%, rgba(238, 204, 117, 0) 72.92%);
} 

.header-title {
    margin-bottom: 16px;
}

.header-arrow {
    font-weight: var(--font-weight-text2);
    font-size: 36px;
    margin-bottom: 16px;
    cursor: pointer;
    display: inline-block;
}
.header-arrow--white {
    color: var(--purple-light-1);
}

.header-searchForm {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-wrap: nowrap;
}

.header-searchForm input {
    height: 48px;
    width: 100%;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.header-searchForm button {
    width: 56px;
    height: 48px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}


/* Trending */
.trendingPreview-header,
.liked-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.trendingPreview-btn {
  border-radius: 8px;
  height: 32px;
  width: 72px;
  color: var(--text-bg);
}

.trendingPreview-movieList,
.liked-movieList {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  height: 241px;
  padding-left: 24px;
  padding-bottom: 16px;
}

.trendingPreview-movieList .movie-container,
.liked-movieList .movie-container {
  display: inline-block;
  margin-right: 8px;
}

.trendingPreview-movieList .movie-container .movie-img,
.liked-movieList .movie-container .movie-img {
  height: 225px;
  min-height: 225px;
  max-height: 225px;
  width: 150px;
  min-width: 150px;
  max-width: 150px;
}


/* Categories */
.category-container {
    width: 45%;
}

.category-title {
    margin-bottom: 8px;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.category-title::before {
    content: '••••';
    color: transparent;
    /* TODO: cambiar color por ID de la categoría */
    background-color: var(--idColor);
    border-radius: 8px;
    margin-right: 8px;
    width: 8px;
    height: 8px;
}

#id28 { --idColor: var(--color-1); }
#id12 { --idColor: var(--color-2); }
#id16 { --idColor: var(--color-3); }
#id35 { --idColor: var(--color-4); }
#id80 { --idColor: var(--color-5); }
#id99 { --idColor: var(--color-6); }
#id18 { --idColor: var(--color-7); }
#id10751 { --idColor: var(--color-8); }
#id14 { --idColor: var(--color-9); }
#id36 { --idColor: var(--color-10); }
#id27 { --idColor: var(--color-11); }
#id10402 { --idColor: var(--color-12); }
#id9648 { --idColor: var(--color-13); }
#id10749 { --idColor: var(--color-14); }
#id878 { --idColor: var(--color-15); }
#id10770 { --idColor: var(--color-16); }
#id53 { --idColor: var(--color-17); }
#id10752 { --idColor: var(--color-18); }
#id37 { --idColor: var(--color-19); }


/* Generic List (search, trending & category) */
.genericList-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 32px 24px;
}

.genericList-container .movie-container {
    display: inline-block;
    width: 47.5%;
}

.genericList-container .movie-img {
    width: 100%;
}


/* Movie Detail */
.movieDetail-container {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    padding: 32px 24px;
    margin-top: 403px;
    z-index: 1;
    position: absolute;
    background-color: var(--purple-light-1);
}

.movieDetail-title {
    display: inline-block;
    width: 80%;
    margin: 0 0 16px 0;
    padding: 0;
}

.movieDetail-score {
    display: inline-block;
    text-align: right;
    width: 18%;
    font-weight: var(--font-weight-title2);
}
.movieDetail-score::before {
    content: '★';
    color: var(--yellow);
    padding-right: 4px;
}

.movieDetail-description {
    margin: 0 0 24px 0;
}

.relatedMovies-container {
    margin-top: 24px;
    height: 216px;
}

.relatedMovies-title {
    margin-bottom: 16px;
}

.relatedMovies-scrollContainer {
    position: absolute;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    width: calc(100vw - 24px);
    padding-bottom: 16px;
}

.relatedMovies-scrollContainer .movie-container {
    display: inline-block;
    margin-right: 8px;
}

.relatedMovies-scrollContainer .movie-img {
    width: 125px;
    min-width: 125px;
    max-width: 125px;
    height: 187.5px;
    min-height: 187.5px;
    max-height: 187.5px;
}


/* Footer */
footer {
    background-color: var(--purple-medium-3);
    color: var(--purple-light-2);
    text-align: center;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Navigation */
.inactive {
    display: none;
}

/* Animations */
@keyframes loading-skeleton {
    0%, 100% {
        opacity: 100%;
    }
    50% {
        opacity: 0%;
    }
}   